.footer-container {
  svg {
    font-size: 1.4rem;
  }
  .github {
    svg {
      color: #141954;
    }
  }
  .linkdin {
    svg {
      color: #2b76b7;
    }
  }
  .gmail {
    svg {
      color: #d34040;
    }
  }
}